.switching-image {
  &.shadowed {
    & img {
      filter: brightness(50%);
    }

    box-shadow: lightcoral 4px 4px;
  }

  &:not(.shadowed) {
    box-shadow: lightgreen 4px 4px;
  }

  transition: box-shadow .2s ease-in-out;

  & img {
    transition: filter .2s ease-in-out;
  }
}

.image-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    margin: 0.3em;
  }
}

.selected-tree-item {
  box-shadow: lightgreen 4px 4px;
}

.visited-tree-item {
  box-shadow: lightgoldenrodyellow 4px 4px;
}

.not-visited-tree-item {
  box-shadow: lightcoral 4px 4px;
}