.image-grid {
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  align-items: stretch;
  align-content: stretch;
  justify-content: center;

  & img {
    flex-grow: 1;
    flex-shrink: 1;
    height: auto;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    margin: 0.5em;
  }

  & .row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;

    align-items: stretch;
    align-content: stretch;
    justify-content: center;

  }
}