.theme-block-item {
  min-width: 5vw;
  min-height: 5vw;
  margin: 10px;

  & .open-section {
    width: 100%;
    height: 80%;

    & .ui.button {
      width: 100%;
      min-height: 20vh;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  & .delete-section {
    width: 50%;
    height: 20%;

    &.ui.button {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin: 0;
    }
  }

  & .edit-section {
    width: 50%;
    height: 20%;

    &.ui.button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin: 0;
    }
  }

  & > button > {
    width: 100%;
    height: 100%;

    & i.icon {
      margin: 0 !important;
    }
  }
}